__pycache__/
*.pyc
env/
# apps/console_frontend/ Logs
apps/console_frontend/logs
apps/console_frontend/*.log
apps/console_frontend/npm-debug.log*
apps/console_frontend/yarn-debug.log*
apps/console_frontend/yarn-error.log*
apps/console_frontend/pnpm-debug.log*
apps/console_frontend/lerna-debug.log*

# apps/console_frontend/ Dependencies and Build outputs
apps/console_frontend/node_modules
apps/console_frontend/dist
apps/console_frontend/dist-ssr
apps/console_frontend/*.local

# apps/engine Dependencies and Build outputs
apps/engine/node_modules
apps/engine/dist

# Local environment secrets
.env.*
!.env.*.example
apps/console_frontend/.vite
apps/console_frontend/.wrangler
apps/console_frontend/.vscode
apps/console_frontend/frontend_Revise.md
apps/engine/EyevinnReadme
gitpush rules.md